header, main, footer {
  padding-left: 240px !important;
}

nav.top-nav {
  height: 122px !important;
  box-shadow: none !important;
}

.sidr{
	background-color: #191918;
}

.bold{
	font-weight: bold !important;
}

.logo{
	height: 150px;
}

.logo:hover{
	background-color: #191918 !important;
}

.name:hover{
	background-color: #191918 !important;
}

.imgPerfil{
	margin-top: 8px;
	border-radius: 0% !important;
}

.menu{
	height: 40px;
	color: #b3b3b1;
}

.home{
  	font-weight: bold !important;
}

.home:hover{
	border-left: 4px solid #0880b9;
  	background-color: #333;
  	font-weight: bold !important;
}

.projects{
  	font-weight: bold !important;
  	color: #42a5F5;
}

.projects:hover{
	border-left: 4px solid #0880b9;
  	background-color: #333;
  	font-weight: bold !important;
}

.skills{
  	font-weight: bold !important;
  	color: #f48fb1;
}

.skills:hover{
	border-left: 4px solid #0880b9;
  	background-color: #333;
  	font-weight: bold !important;
}

.about{
  	font-weight: bold !important;
  	color: #ffcc80;
}

.about:hover{
	border-left: 4px solid #0880b9;
  	background-color: #333;
  	font-weight: bold !important;
}

.contact{
  	font-weight: bold !important;
  	color: #b2dfdb;
}

.contact:hover{
	border-left: 4px solid #0880b9;
  	background-color: #333;
  	font-weight: bold !important;
}